<div class="flex flex-col justify-center items-center">
    <h1>
        Bruce Wayne/ Batman
    </h1>
    
    <span>
        Gotham's protector, billionaire philanthropist, and master detective
    </span>
</div>
<div class="flex flex-col grid grid-cols-3">
    <div class="flex flex-col items-center">
        <img width="20%" height="30%" src="../../../assets/img/ai-generated-7700259_1280.jpg"/>
        <span>Batarang</span>
        <p>Description: A short bio (e.g., "Gotham's protector, billionaire philanthropist, and master detective.").
        </p>
        <button (click)="viewDetails('1')"> click bat man
        </button>
    </div>
    <div class="flex flex-col items-center">
        <img width="20%" height="30%" src="../../../assets/img/ai-generated-7700259_1280.jpg"/>
        <span>Grappling Gun</span>
        <p>Description: A short bio (e.g., "Gotham's protector, billionaire philanthropist, and master detective.").
        </p>
        <button (click)="viewDetails('2')"> click bat man
        </button>
    </div>
    <div class="flex flex-col items-center">
        <img width="20%" height="30%" src="../../../assets/img/michael-marais-FYzHFQOag8A-unsplash.jpg"/>
        <span>Batman car</span>
        <p>Description: A short bio (e.g., "Gotham's protector, billionaire philanthropist, and master detective.").
        </p>
        <button (click)="viewDetails('3')"> click bat man
        </button>
    </div> 
</div>
<footer>
    <p>
        © 2024 Wayne Enterprises | <a href="#">Contact</a>
    </p>
</footer>
