<div>
    <div class="flex flex-row text-dark p-4 gap-10 bg-blue-900">
      <!-- Home link -->
      <a class="flex flex-col items-start justify-start text-white" routerLink="" routerLinkActive="text-yellow-500">Home</a>
      
      <!-- Profile link -->
      <a class="flex flex-col items-start justify-start text-white" routerLink="profile" routerLinkActive="text-yellow-500">Profile</a>
      
      <!-- Search -->
      <div class="flex flex-col items-end justify-end text-white ml-auto">Search</div>
    </div>
  </div>
  